*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family: Georgia, sans-serif;
  font-size: 1.65em;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 10;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(134, 4, 247, 0.3);
}

.nav.active a {
  color: #222;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #8b14db;
  font-weight: bold;
}

:root {
  --color: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: Georgia, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* this is where the magic happens: */
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.313)), url(n1.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 30vh;
  background-color: #222;
}

.parallax-container2 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* this is where the magic happens: */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}

.buffer2 {
  width: 100%;
  min-height: 30vh;
  background-color: #222;
}

.parallax-container3 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* this is where the magic happens: */
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.313)), url(n3.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}

.buffer3 {
  width: 100%;
  min-height: 30vh;
  background-color: #222;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 601px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 601px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 100%;
    background-color: #222;
  }
}

ul {
  margin: 0px;
  padding: 5px;
}

.footer-section {
  background: #222;
  position: relative;
}

.footer-cta {
  border-bottom: 5px solid #373636;
}

.single-cta i {
  color: #8b14db;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 20px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #8b14db;
}

.footer-widget ul li a:hover {
  color: #8b14db;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  border: 5px;
  padding: 16px 30px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #8b14db;
  padding: 13px 20px;
  border: 1px solid #8b14db;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #8b14db;
}

.footer-menu li a {
  font-size: 14px;
  color: #8b14db;
}


/* card box */

#cards_landscape_wrap-2 .container {
  margin-top: 60px; /* Adjust this value to match your nav bar's height */
  padding-top: 80px; 
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
  width:95%;
  height: 95%;
  margin-bottom: 20px; /* Space below each card */
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  width: 100%;
  height: auto; /* Set height to auto for responsiveness */

}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
  padding: 20px;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 20px 10px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

#cards_landscape_wrap-2 .card-flyer .image-box .caption {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box .caption {
  opacity: 1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  #cards_landscape_wrap-2 .card-flyer {
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center on smaller screens */
  }
}

@media (max-width: 480px) {
  #cards_landscape_wrap-2 .card-flyer {
    max-width: 95%; /* Full width on very small screens */
  }
}


@media (max-width: 768px)  {

  .content {
padding: 10px;
font-size: 1.2rem;

  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Sends the video behind other content */
}

.video-background video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the video covers the area */
}

.content {
  position: relative;
  z-index: 1; /* Keeps the content above the video */
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .content {
      padding: 15px;
      font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .content {
      padding: 10px;
      font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .content {
      padding: 8px;
      font-size: 1rem;
  }
}
